---
    
- name: Ensure toolchain directory exists
  file: path=/opt/toolchain state=directory mode=0755
    
- name: Copy the toolchain
  unarchive: src=arm-toolchain.tgz dest=/opt/toolchain
  when: toolchain_from_archive
  
- name: Download the toolchain
  get_url: url=https://s3.amazonaws.com/pplans-build-tools/arm-toolchain.tgz dest=/opt
  when: not toolchain_from_archive
  
- name: Unpack the toolchain
  unarchive: src=/opt/arm-toolchain.tgz dest=/opt/toolchain copy=no
  when: not toolchain_from_archive

- name: Link toolchain to home dir
  file: src=/opt/toolchain/ path=/home/vagrant/SW state=link

- name: Ensure apt-cache is updated
  apt: update_cache=yes

- name: Ensure have 32bit libs (1/3)
  apt:  name=lib32z1 state=present
      
- name: Ensure have 32bit libs (2/3)
  apt:  name=lib32ncurses5 state=present

- name: Ensure have 32bit libs (3/3)
  apt:  name=lib32bz2-1.0 state=present
